body {
  font-family: Roboto, sans-serif;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #222831;
  color: #EEEEEE;
  display: flex;
  flex-direction: column;
}

main {
  padding-top: 50px;
  flex-grow: 1;
}
.container {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px 50px 50px;
  /* grid-row-gap: 20px; */
  grid-gap:0.4rem;
  justify-content: center; 
}

.item {
  border: 1px whitesmoke solid;
  /* border-radius: 8px; */
  border-radius: 50%;
  display: flex; /* Use flexbox to center text */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  cursor: pointer;
  transition: background-color 0.3s; 
}

.item:hover {
  background-color: #424242; /* Slighstly lighter gray on hover */
}

.display {
  grid-row: 1 / 2;
  grid-column: 1 / 6;
  cursor:default;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: #2e2e2e
}

.display:hover {
  background-color: #222831; 
}

.plus {
  grid-row: 5 / 7;
  grid-column: 5 / 6;
  border-radius: 8px;
}

.display span {
  width: 100%;
  text-align: right;
  padding-right: 0.4rem;
}

footer {
  padding: 1rem;
  background: rgba(0, 0, 0, 0.1);
}

footer a{
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: larger;
  margin: auto;
  color: whitesmoke;
}

footer a:hover {
  text-decoration: underline; /* Add underline when the link is hovered */
}
